{%- import 'html.j2' as html -%}

# {{ html.icon('balance-scale') }} Loi N°{{ modified[current_law].law }}, Article {{ modified[current_law].articles[current_article].id }}

## {{ html.icon('file-text-o') }} Texte

{{ modified[current_law].articles[current_article].diff }}

## {{ html.icon('pencil-square-o') }} Modifications

{% if modified[current_law].articles[current_article].gitlabHistory %}
[{{ html.icon('code-fork') }} Voir l'historique complet de cet article (expert)]({{ modified[current_law].articles[current_article].gitlabHistory }})
{% elif modified[current_law].articles[current_article].githubHistory %}
[{{ html.icon('code-fork') }} Voir l'historique complet de cet article (expert)]({{ modified[current_law].articles[current_article].githubHistory }})
{% endif %}

{% if type == 'law-proposal' %}
Cet article est modifié par les articles de la proposition de loi suivants :
{% elif type == 'law-project' %}
Cet article est modifié par les articles du projet de loi suivants :
{% endif %}

{%- for commit in modified[current_law].articles[current_article].commits %}
* [{{ commit.title }}]({{ commit.link }})
{%- endfor %}
