{%- import 'html.j2' as html -%}

# {{ html.icon('bookmark-o') }} {{ title | title }}, Article {{ articles[current_article].order }}

## {{ html.icon('file-text-o') }} Texte

{{ articles[current_article].content.replace('\n', '\n\n') }}

## {{ html.icon('pencil-square-o') }} Suivi des modifications

{% if articles[current_article].gitlabIssue %}
[{{ html.icon('code-fork') }} Voir dans le système de gestion de versions (expert)]({{ articles[current_article].gitlabIssue }})
{% elif articles[current_article].githubIssue %}
[{{ html.icon('code-fork') }} Voir dans le système de gestion de versions (expert)]({{ articles[current_article].githubIssue }})
{% endif %}

{% if type == 'law-proposal' %}
L'article {{ articles[current_article].order }} de la proposition de loi apporte les modifications suivantes :
{% elif type == 'law-project' %}
L'article {{ articles[current_article].order }} du projet de loi apporte les modifications suivantes :
{% endif %}

{% for commit in articles[current_article].commits %}
### {{ commit.title }}

{{ commit.description | default('') }}

{{ commit.diff }}
{% endfor %}
