{%- import 'html.j2' as html -%}

# {{ html.icon('university" aria-hidden="true') }} {{ title | title }}

{{ description[0].upper() }}{{ description[1:] }}.

[{{ html.icon('external-link" aria-hidden="true') }} Texte original]({{ url }})

## {{ html.icon('bookmark-o') }} Articles

{% if type == 'law-proposal' %}
La proposition de loi est constituée des articles suivants :
{% elif type == 'law-project' %}
Le projet de loi est constituée des articles suivants :
{% endif %}

{% for article in articles %}
* [Article {{ article.order }}](article-{{ article.order }}.md)
{%- endfor %}

{% if amendments | length > 0 %}
et des amendements suivants :

{% for amendment in amendments %}
* [Amendement {{ amendment.id }}](amendment-{{ amendment.id }}.md)
{%- endfor %}

{% endif %}

{% if modified is defined and modified | length > 0 %}
## {{ html.icon('file-text-o') }} Textes modifiés

{% if type == 'law-proposal' %}
La proposition de loi modifie les textes suivants :
{% elif type == 'law-project' %}
Le projet de loi modifie les textes suivants :
{% endif %}

{% for m in modified %}
* [Loi N°{{ m.law }}]({{ m.law }}.md)
 {%- for article in m.articles %}
 * [Article {{ article.id }}]({{ m.law }}-{{ article.id }}.md)
 {%- endfor %}
{%- endfor %}

{%- endif %}

{% if cocorico_vote is defined %}
## Vote

* [Voter](https://cocorico.cc/embed/vote-widget/{{ cocorico_vote }})
* [Résultats du vote](https://cocorico.cc/ballot-box/{{ cocorico_vote }})
{% endif %}
