# Summary

{% if type == 'law-proposal' %}
## Proposition de loi
{% elif type == 'law-project' %}
## Projet de loi
{% endif %}
{% for article in articles %}
* [Article {{ article.order }}](article-{{ article.order }}.md)
{%- endfor %}

{% for amendment in amendments %}
## Amendements
* [Amendement {{ amendment.id }}](amendment-{{ amendment.id }}.md)
{%- endfor %}

{% if modified is defined and modified | length > 0 %}
## Textes modifiés
{% for m in modified %}
* [Loi N°{{ m.law }}]({{ m.law }}.md)
 {%- for article in m.articles %}
 * [Article {{ article.id }}]({{ m.law }}-{{ article.id }}.md)
 {%- endfor %}
{%- endfor %}

{%- endif %}

{% if cocorico_vote is defined %}
## Vote

* [Voter](https://cocorico.cc/embed/vote-widget/{{ cocorico_vote }})
* [Résultats du vote](https://cocorico.cc/ballot-box/{{ cocorico_vote }})
{% endif %}
